<a href="https://colab.research.google.com/github/Torres9-afk/Python_Practice-DBS/blob/main/Assessment_Practice_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [ ]:
if 5 > 2:
 print("Five is greater  than two")

Five is greater  than two

In [ ]:
if 5 > 2:
     print("Five is greater  than two")
     print("Five is greater  than two")

Five is greater  than two
Five is greater  than two

In [ ]:
#this is test 
print("This is test")

This is test

In [ ]:
x=5
y=10

print(x,y)

5 10

In [ ]:
if x > y:
   print("The value of x is greater than y ") 
else:
   print("The valuer of y is gretaer than x")

The valuer of y is gretaer than x

In [ ]:
#This is test comment
print("The value of x is greater than y ")

The value of x is greater than y

In [ ]:
"""
This is test command
Please ignore 
for compilation
"""
#print("This is comment")
print("This is comment")

This is comment

In [ ]:
x = 16
y = 10
print(x)
print(y)

16
10

In [ ]:
x = 8
x = "This is Ronaldo"
print(type(x))

<class 'str'>

In [ ]:
x = 90
y = "This is Anfield"
z = 19.768
print(type(x),type(y),type(z))

<class 'int'> <class 'str'> <class 'float'>

In [34]:
a = 190
A = "jsabhiajsxn"
print(a)

190

In [36]:
adadsasd = 100
my_san = 928
print(adadsasd,my_san)

100 928

In [37]:
fruits = ['apple', 'banana', 'grapes']
x,y,z = fruits
print(x,y,z)

apple banana grapes

In [48]:
x=90
y=100
z=89
print(x+z-y)

79

In [52]:
x = 5
y = 'Club '
z = 'Anfield'
print(x,y,z)

5 Club  Anfield

In [72]:

def myfun():
 x='fantastic'


print('python is ' +x)

python is awsdome

In [69]:
def mysan():
  global x
  x = 'fantastic'

mysan()
print('Pythons is ' +x)

Pythons is fantastic

In [76]:
x='awsome'
def myfun():
  global x
  x='Super'

myfun()
print('Life is ' +x)

Life is Super

In [81]:


z=('apple', 'banana', 'mango')
y=['apple', 'banana', 'mango']

print(type(z),type(y))

<class 'tuple'> <class 'list'>

In [89]:
x=str('Hello')
y=int(20)
z=float(90.1)
print(x,y,z)

Hello 20 90.1

In [93]:
x=9+5j
print(x)

(9+5j)

In [99]:
##Covert samples
#Int to Float
x=10
a=float(x)
print(a)

#float to int
y=87.23
b=int(y)
print(b)

#Int to complex
c=complex(x)
print(c)

10.0
87
(10+0j)